
body {
    margin: 5% 5% 0% 5%;  /* centrando los elementos */
  }
  
  h1 {
    text-decoration: underline;
  }
  
  h2 {
    text-align: center;
    color: blue;
  }
  
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr; /* los dos actuadores en dos columnas */
    grid-gap: 10%; /* espacio entre los actuadores */
  }
  
  /* elementos del formulario espaciados */
  .elemento {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas de igual tamaño */
  }
  
  .actuador {
    border-style: groove;
    background-color: gainsboro;
  }
  
  .formulario {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; /* 5 filas de igual tamaño */
  }
  
  /* elementos centrados */
  .centrado {
    height: 50%;
    width: 50%;
    place-self: center;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s; /* transición del cambio de color */
  }
  
  .slider:before { /*bolita*/
    position: absolute;
    content: "";
    height: 26px; /* radio bola slider */
    width: 26px;
    left: 4px;
    bottom: 4px; /* colocación dentro del slider */
    background-color: white;
    transition: .4s;
  }
  
  /* cuando el input esté marcado, se seleccionará el elemento .slider
  que sigue inmediatamente después del input */
  input:checked + .slider {
    background-color: #2196F3; /*checked: true */
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  /* Bolita redonda */
  .slider.round:before {
    border-radius: 50%;
  }
  
  .log-class {
    margin-top: 40px;
    border-top-style: solid;
    width: 100%;
    text-align: center;
  }
  
  #log {
    overflow-y: scroll;
    height: 250px;
    background-color: rgb(202, 202, 202);
    line-height: 25px;
    font-size: 18px;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
  }